In [1]:
import pandas as pd
import numpy as np
import shutil

In [2]:
def convert_to_df(cost_file_name):
    f = open("submission_meta/" + cost_file_name, "r")
    datadict = {}
    for line in f:
        line.rstrip('\n')
        entry = line.split(': ')
        entry[1] = float(entry[1])
        datadict[entry[0]] = entry[1]
    f.close()
    
    all_data = pd.DataFrame(datadict.items())
    cost_col_name = cost_file_name.split(".")[0]
    all_data.columns = ['filename', cost_col_name]
    all_data = all_data.sort_values(by="filename") # 303 smalls, 303 mediums, 400 larges
    return all_data

In [3]:
greedy1 = convert_to_df("greedy1_cost.txt")
greedy2 = convert_to_df("greedy2_cost.txt")
trimMST1 = convert_to_df("trimMST1_cost.txt")
ds = convert_to_df("ds_spt_cost.txt")

In [4]:
combined = pd.merge(greedy1, greedy2, on="filename")
combined = pd.merge(combined, trimMST1, on="filename")
combined = pd.merge(combined, ds, on="filename")

In [5]:
best_alg = combined.iloc[:, 1:].idxmin(axis=1)
best_alg.columns = ['best_alg']
best_alg[:20]
combined['best_alg'] = best_alg

In [10]:
combined[combined['filename'] == 'small-129']
test = combined[:10]
test

,filename,greedy1_cost,greedy2_cost,trimMST1_cost,ds_spt_cost,best_alg
0,large-1,53.468443,53.468443,63.822466,74.452747,greedy1_cost
1,large-10,4.810667,4.810667,21.062745,9.133544,greedy1_cost
2,large-100,34.509677,34.509677,59.330769,34.509677,greedy1_cost
3,large-101,32.749036,32.749036,34.686499,32.675943,ds_spt_cost
4,large-102,0.000000,0.000000,0.000000,0.000000,greedy1_cost
5,large-103,2.841800,2.785238,11.738967,4.033018,greedy2_cost
6,large-104,25.284474,25.284474,45.406526,37.052112,greedy1_cost
7,large-105,2.775833,2.775833,17.260480,7.030670,greedy1_cost
8,large-106,23.873581,23.873581,61.527231,93.691352,greedy1_cost
9,large-107,33.333333,33.333333,33.333333,33.333333,greedy1_cost

In [8]:
for index, row in test.iterrows():
    #print(row)
    best_alg = row['best_alg']
    best_alg = best_alg[:-5]
    fname = row['filename']
    best_alg_path = 'output_' + best_alg + '/' + fname + '.out'
    shutil.copy(best_alg_path, 'output_final')

filename              large-1
greedy1_cost          53.4684
greedy2_cost          53.4684
trimMST1_cost         63.8225
ds_spt_cost           74.4527
best_alg         greedy1_cost
Name: 0, dtype: object
filename             large-10
greedy1_cost          4.81067
greedy2_cost          4.81067
trimMST1_cost         21.0627
ds_spt_cost           9.13354
best_alg         greedy1_cost
Name: 1, dtype: object
filename            large-100
greedy1_cost          34.5097
greedy2_cost          34.5097
trimMST1_cost         59.3308
ds_spt_cost           34.5097
best_alg         greedy1_cost
Name: 2, dtype: object
filename           large-101
greedy1_cost          32.749
greedy2_cost          32.749
trimMST1_cost        34.6865
ds_spt_cost          32.6759
best_alg         ds_spt_cost
Name: 3, dtype: object
filename            large-102
greedy1_cost                0
greedy2_cost                0
trimMST1_cost               0
ds_spt_cost                 0
best_alg         greedy1_cost
Name: 4, dtype: object
filename            large-103
greedy1_cost           2.8418
greedy2_cost          2.78524
trimMST1_cost          11.739
ds_spt_cost           4.03302
best_alg         greedy2_cost
Name: 5, dtype: object
filename            large-104
greedy1_cost          25.2845
greedy2_cost          25.2845
trimMST1_cost         45.4065
ds_spt_cost           37.0521
best_alg         greedy1_cost
Name: 6, dtype: object
filename            large-105
greedy1_cost          2.77583
greedy2_cost          2.77583
trimMST1_cost         17.2605
ds_spt_cost           7.03067
best_alg         greedy1_cost
Name: 7, dtype: object
filename            large-106
greedy1_cost          23.8736
greedy2_cost          23.8736
trimMST1_cost         61.5272
ds_spt_cost           93.6914
best_alg         greedy1_cost
Name: 8, dtype: object
filename            large-107
greedy1_cost          33.3333
greedy2_cost          33.3333
trimMST1_cost         33.3333
ds_spt_cost           33.3333
best_alg         greedy1_cost
Name: 9, dtype: object

In [9]:
combined[combined['filename'] == 'small-74']

,filename,greedy1_cost,greedy2_cost,trimMST1_cost,ds_spt_cost,best_alg
978,small-74,8.333333,8.333333,8.333333,8.0,ds_spt_cost

In [ ]:
larges = combined[:400]
mediums = combined[400:703]
smalls = combined[703:]

In [ ]:
combined['ds_spt_cost'].mean(), combined['greedy2_cost'].mean()

In [ ]:
larges['ds_spt_cost'].mean(), larges['greedy2_cost'].mean()

In [ ]:
mediums['ds_spt_cost'].mean(), mediums['greedy2_cost'].mean()

In [ ]:
smalls['ds_spt_cost'].mean(), smalls['greedy2_cost'].mean()

In [ ]:
combined['ds_spt_cost'].median(), combined['greedy2_cost'].median()