In [1]:
import pandas as pd

In [2]:
def convert_to_df(cost_file_name):
    f = open("submission_meta/" + cost_file_name, "r")
    datadict = {}
    for line in f:
        line.rstrip('\n')
        entry = line.split(': ')
        entry[1] = float(entry[1])
        datadict[entry[0]] = entry[1]
    f.close()
    
    all_data = pd.DataFrame(datadict.items())
    cost_col_name = cost_file_name.split(".")[0]
    all_data.columns = ['filename', cost_col_name]
    all_data = all_data.sort_values(by="filename") # 303 smalls, 303 mediums, 400 larges
    return all_data

In [5]:
greedy1 = convert_to_df("greedy1_cost.txt")
greedy2 = convert_to_df("greedy2_cost.txt")
trimMST1 = convert_to_df("trimMST1_cost.txt")

      filename  greedy2_cost
794    large-1     63.822466
803   large-10     21.062745
671  large-100     59.330769
638  large-101     34.686499
977  large-102      0.000000

In [6]:
combined = pd.merge(greedy1, trimMST1, on="filename")
combined = pd.merge(combined, greedy2, on="filename")
combined[150:190]

      filename  greedy1_cost  trimMST1_cost  greedy2_cost
150  large-234     18.482456      26.141863     26.141863
151  large-235      2.049000      10.985448     10.985448
152  large-236     87.518000      48.657500     48.657500
153  large-237     29.989549      69.641778     69.641778
154  large-238     93.930401     147.925792    147.925792
155  large-239     84.185393      98.344186     98.344186
156   large-24      8.820513      26.009838     26.009838
157  large-240      0.000000       0.000000      0.000000
158  large-241     15.420974      14.453184     14.453184
159  large-242    472.056093     586.750002    586.750002
160  large-243     47.704994      96.300989     96.300989
161  large-244     12.070175      12.491233     12.491233
162  large-245      0.000000       0.000000      0.000000
163  large-246    118.552113     183.113230    183.113230
164  large-247     27.503509      28.786149     28.786149
165  large-248   1714.993087    1714.993087   1714.993087
166  large-249     16.666667      16.666667     16.666667
167   large-25     24.714634      27.459016     27.459016
168  large-250      1.762893      17.004000     17.004000
169  large-251      5.223675      15.529618     15.529618
170  large-252      4.683571      16.983737     16.983737
171  large-253    120.594905     171.333304    171.333304
172  large-254    514.580333     521.027784    521.027784
173  large-255     61.625544      65.661775     65.661775
174  large-256     10.890136      15.896362     15.896362
175  large-257      0.000000       0.000000      0.000000
176  large-258      5.009524      13.010078     13.010078
177  large-259      0.000000       0.000000      0.000000
178   large-26      2.190476      10.711194     10.711194
179  large-260     28.598626      31.316810     31.316810
180  large-261      9.120879      29.045938     29.045938
181  large-262     34.052234      33.710574     33.710574
182  large-263      1.460000      10.530585     10.530585
183  large-264      0.092589       0.165771      0.165771
184  large-265      1.756000      14.135270     14.135270
185  large-266     62.198387      77.782609     77.782609
186  large-267      1.998800       9.584137      9.584137
187  large-268    128.022303     136.962152    136.962152
188  large-269      1.909091       4.020606      4.020606
189   large-27     98.879049     140.729363    140.729363

In [ ]:
larges = combined[:400]
mediums = combined[400:703]
smalls = combined[703:]
smalls

In [ ]:
combined['trimMST1_cost'].mean()

In [ ]:
larges['trimMST1_cost'].mean()

In [ ]:
mediums['trimMST1_cost'].mean()

In [ ]:
smalls['trimMST1_cost'].mean()